
/*  ◆ 전체 선택자(*) :: HTML 페이지 안에 있는 모든 태그들을 선택한다.   */
/*ex)
* {
    border: 2px solid aquamarine;
}   */

/*  ◆ 태그 선택자 :: HTML에 포함되어 있는 특정 태그들을 선택한다.    */
h1, h3 {
    background-color: blueviolet;
    font-style: italic;
}

/*  ◆ 아이디 선택자 :: 특정 id값을 가지고 있는 태그를 선택,  
    "#" 기호를 사용해서 선택한다.
    ★ 아래 구문의 경우, id값이 반드시 firsr_h1이어야만 적용이 된다.(first_h1_auto여도 적용x)  */
#first_h1 {
    font-size: 300%;
}

/*  ◆ 클래스 선택자 :: 각 태그들의 class값들 중 특정값이 있는 태그를 선택,
    "." 기호를 사용해서 선택한다.
    ★ class값 중 지정된 값(first)이 포함되어 있기만 한다면 적용된다. */
.first {
    border: 5px solid red;
}

/*  h1 태그 중 클래스값 중 first라는 값이 포함되어 있는 태그를 선택한다.    */
h1, h2.first {
    text-align: center;
}
/*  ↑↑↑ h1 태그 전체와 h2 태그 중 클래스값 중 first라는 값이 포함되어 있는 태그 선택*/

/*========== ========== ========== ========== ========== ========== ==========*/

/*  label 태그들 중 for 속성이 정의되어 있는 태그를 선택한 것.  */
label[for] {
    color:blue;
}
/*  label 태그들 중 for 속성이 "F"인 태그를 선택한 것.  */
label[for="F"] {
    color:pink;
}

/*  ★★★★★
CSS 파일 작성할 시에는,
개략적인 스타일 설정을 파일 윗부분에 작성하고
구체적인 스타일 설정을 파일 아래 부분에 작성하면 좋다.(위에서부터 적용되기 때문에)
    ★★★★★*/